@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 20% 12%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 34 67% 39%;
    --primary-100: 34 82% 73%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .link-hover {
    @apply hover:text-primary-100 transition;
  }
  .navLink {
    @apply relative   last-of-type:after:w-0 after:top-[50%] after:-translate-y-1/2 after:block after:absolute after:right-0 after:h-[16px] after:w-[.5px] after:bg-primary;
  }
  .employee-info-item-title {
    @apply font-bold uppercase mb-[-5px];
  }
  .employee-showcase-big-grid {
    @apply grid grid-cols-1 md:grid-cols-2 max-md:gap-[50px] pt-[50px];
  }
  .employee-showcase-small-grid {
    @apply flex flex-wrap justify-center gap-[40px] pt-[50px];
  }
}
@layer utilities {
  .img-darken-filter {
    @apply filter brightness-[.3];
  }
}
